@model SafErgyReal.Models.ScanResultViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1>Welcome to SAFErgy</h1>
    <p>Please Enjoy Your Food Safely!</p>

    <form method="post" enctype="multipart/form-data" asp-action="ScanImage" class="upload-form">
        <input type="file" name="foodImage" accept="image/*" capture="environment" class="form-control-file mb-3" />
        <input type="submit" value="Scan" class="btn btn-primary" />

    </form>
</div>

@if (Model?.IdentifiedFoodItems.Any() ?? false)
{
    <div class="result-section">
        <h2 class="text-center">Identified Food Items</h2>
        <ul class="list-group">
            @foreach (var item in Model.IdentifiedFoodItems)
            {
                <li class="list-group-item">@item.Name - Confidence: @item.Value.ToString("P2")</li>
            }
        </ul>
    </div>
}
else
{
    <p class="text-center">No food items identified.</p>
}

